!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Another Blog 
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body